In [1]:
import sqlite3
con = sqlite3.connect('./test_db')

In [2]:
cur = con.cursor()
for row in cur.execute('SELECT * FROM person'):
    print(row)
    for column in row:
        print(column)

(1, 'name_a', 10.5)
1
name_a
10.5
(3, 'c_update', 3.14)
3
c_update
3.14

In [4]:
insert_sql = 'INSERT INTO person VALUES(?, ?, ?)'
insert_param = (100, 'name_z', 99.9)
cur.execute(insert_sql, insert_param)
con.commit()

In [5]:
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})
print(cur.fetchall())

[(1, 'name_a', 10.5), (100, 'name_z', 99.9), (100, 'name_z', 99.9)]

In [6]:
con.close()
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})

ProgrammingError: Cannot operate on a closed database.

**演習**

In [10]:
con = sqlite3.connect('./test_db')
cur = con.cursor()

In [11]:
update_sql = "UPDATE person SET name = ? WHERE id = ?"
update_param = ('changed_name', 1)
cur.execute(update_sql, update_param)
con.commit()

In [13]:
cur.execute('SELECT * FROM person')
print(cur.fetchall())

[(1, 'changed_name', 10.5), (3, 'c_update', 3.14), (100, 'name_z', 99.9), (100, 'name_z', 99.9)]

In [19]:
delete_sql = "DELETE FROM person WHERE name = 'c_update'"
cur.execute(delete_sql)
con.commit()

In [20]:
cur.execute('SELECT * FROM person')
print(cur.fetchall())

[(1, 'changed_name', 10.5), (100, 'name_z', 99.9), (100, 'name_z', 99.9)]