In [11]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from test_model_bk import Human

In [12]:
engine = create_engine('sqlite:///test_db', echo=True)
session = Session(engine)

In [14]:
humans = session.query(Human).all()
for human in humans:
    print(f'id:{human.id} name:{human.name} height:{human.height}')

2024-09-28 14:24:36,810 INFO sqlalchemy.engine.Engine SELECT human.name AS human_name, human.id AS human_id, human.height AS human_height, human.weight AS human_weight
FROM human
2024-09-28 14:24:36,812 INFO sqlalchemy.engine.Engine [cached since 20.7s ago] ()
id:1 name:Toji Sakimori height:172.0
id:2 name:Ishikawa height:186.0
id:3 name:Spike height:174.0

In [15]:
new_human = Human(id=4, name='from_model', height=200, weight=200)
session.add(new_human)

session.commit()

2024-09-28 14:25:48,669 INFO sqlalchemy.engine.Engine INSERT INTO human (name, id, height, weight) VALUES (?, ?, ?, ?)
2024-09-28 14:25:48,670 INFO sqlalchemy.engine.Engine [generated in 0.00170s] ('from_model', 4, 200.0, 200.0)
2024-09-28 14:25:48,700 INFO sqlalchemy.engine.Engine COMMIT

In [17]:
humans = session.query(Human).all()
for human in humans:
    print(human.__dict__)

2024-09-28 14:26:36,665 INFO sqlalchemy.engine.Engine SELECT human.name AS human_name, human.id AS human_id, human.height AS human_height, human.weight AS human_weight
FROM human
2024-09-28 14:26:36,667 INFO sqlalchemy.engine.Engine [cached since 140.6s ago] ()
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fa6be0b3160>, 'id': 1, 'height': 172.0, 'name': 'Toji Sakimori', 'weight': 76.0}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fa6be9d3fa0>, 'id': 2, 'height': 186.0, 'name': 'Ishikawa', 'weight': 70.0}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fa6be137700>, 'id': 3, 'height': 174.0, 'name': 'Spike', 'weight': 70.0}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fa6bdf98460>, 'id': 4, 'height': 200.0, 'name': 'from_model', 'weight': 200.0}

In [18]:
human4 = session.query(Human).filter(Human.id==4).first()
human4.height = 2.236
session.query(Human).filter(Human.height>10).delete()
session.commit()

2024-09-28 14:28:10,797 INFO sqlalchemy.engine.Engine SELECT human.name AS human_name, human.id AS human_id, human.height AS human_height, human.weight AS human_weight
FROM human
WHERE human.id = ?
 LIMIT ? OFFSET ?
2024-09-28 14:28:10,798 INFO sqlalchemy.engine.Engine [generated in 0.00132s] (4, 1, 0)
2024-09-28 14:28:10,814 INFO sqlalchemy.engine.Engine UPDATE human SET height=? WHERE human.id = ?
2024-09-28 14:28:10,815 INFO sqlalchemy.engine.Engine [generated in 0.00110s] (2.236, 4)
2024-09-28 14:28:10,833 INFO sqlalchemy.engine.Engine DELETE FROM human WHERE human.height > ?
2024-09-28 14:28:10,835 INFO sqlalchemy.engine.Engine [generated in 0.00175s] (10,)
2024-09-28 14:28:10,848 INFO sqlalchemy.engine.Engine COMMIT

In [20]:
from sqlalchemy.sql import text
result_list = session.execute(text("SELECT * FROM human WHERE id = :id"), {"id":4})
for result in result_list:
    print(result)

2024-09-28 14:41:06,100 INFO sqlalchemy.engine.Engine SELECT * FROM human WHERE id = ?
2024-09-28 14:41:06,155 INFO sqlalchemy.engine.Engine [generated in 0.05658s] (4,)
(4, 'from_model', 2.236, 200.0)

In [22]:
session.close()